#db-income-field-text, #db-slider-wrapper {
  float:left;
  margin-top:1em;
}
#db-slider-wrapper {
  width:65%;
  margin-top:1.25em;
  padding:0 1em;
}
.db-tax {
  float:right;
}
.db-table .item-list ul
{
list-style-type: none;
padding: 0px;
margin: 0px;
}

.db-time-period {
  clear:both;
  border-top:1px solid gray;
}

#db-tax-info, #db-tax-info-text{
  float:left;
}
#db-tax-info {
  cursor:pointer;
}




/*.db-chapter {
  display:inline;
}*/

.level-1 {
  font-size:1em;
}

.db-table {
  text-align: center;
  border-collapse:collapse;
  line-height: .8em;
}
.db-table .even{
  vertical-align: top;
}
.db-table .odd{
  vertical-align: bottom;
}

.db-table tr .even, .db-table tr .odd{
  border-bottom: 0 solid red;
}

tr.even, tr.odd {
  border-bottom: 0 solid red;
  background-color: #FFF;
  padding: 0em 0em;
}

.db-table tr td {width: 180px; padding-bottom: 20px;}

.db-table tr.db-table-level-3 td,
.db-table tr.db-table-level-4 td,
.db-table tr.db-table-level-5 td,
.db-table tr.db-table-level-6 td,
.db-table tr.db-table-level-7 td,
.db-table tr.db-table-level-8 td,
.db-table tr.db-table-level-9 td,
.db-table tr.db-table-level-10 td {padding-bottom: 5px;}

ul.db-table-cell-list-2 {text-align: left; font-size: 0.8em; padding: 0px; margin: 0px;}
ul.db-table-cell-list-2 li.db-table-cell-value {display: block; float: left; width: 80px;}


/*table,th,td
{
  border-top: 1px solid black;
}*/

.db-table-level-1 {
  font-size:.9em;
}

.db-table-level-2 {
  font-size:.65em;
}

.db-table-level-1 td {
  width: 25%;
}

.db-table-level-2 td {
  width: 12.5%;
}

.db-table-level-2 td {
  width: 6.25%;
}
