/**
 * @file
 * Navigation Styling
 */


/*
 * The active item in a Drupal menu
 */
li a.active {
  color: #000;
}

/*
 * Navigation bar
 */
#navigation {
  /* overflow: hidden; /* Sometimes you want to prevent overlapping with main div. */
  /*background: #ffffff url('../images/menu.png') left bottom repeat-x;*/
}

#navigation ul.links, /* Main menu and secondary menu links */
#navigation .content ul /* Menu block links */ {
  margin: 0;
  padding: 0;
  text-align: left; /* LTR */
}

#navigation ul.links li, /* A simple method to get navigation links to appear in one line. */
#navigation .content li {
  float: left; /* LTR */
  padding: 0 10px 0 0; /* LTR */
}

.region-navigation {
}

/*
 * Main menu and Secondary menu links
 */
    #main-menu {list-style-type: none;
              /*float: left;*/
              /*position: absolute;*/
              left: 0px;
              bottom: 0px;
              /*width: 100%*/;
              height: 44px;
              /*background: #ffffff url('../images/menu.png') repeat-x;*/}
              
    #main-menu li {float: left;
                 display: block;
                 /*height: 20px;*/
                 margin-top: .55em;}
    
    #main-menu li a {color: #000000;
                   font-size: 0.95em;
                   text-decoration: none;
                   padding: .5em 1.25em 1.6em;
                   display: block;}

    #main-menu li a:hover, #main-menu li a.active {color: #d91215;}

    #main-menu li a.active {background: url('../images/menu-arrow.png') center bottom no-repeat;}

#secondary-menu {
  float: right;
}

/*
 * Menu blocks
 */
.block-menu {
}

/*
 * "Menu block" blocks
 *
 * Drupal core has limited ways in which it can display its menus. To get around
 * these limitations, see http://drupal.org/project/menu_block
 */
.block-menu-block {
}
