/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */


/*
 * Body
 */
body {
  margin: 0;
  padding: 0;
}

#page-wrapper {
}
#page {
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666;
  color: #fff;
}

/*
 * Header
 */
#pagewdw {background: #ffffff url('../images/page-container.png') 0px 0px repeat-x;}

#header {width: 100%;}

#inHeader {margin: 0px auto;
           text-align: left;
           width: 1150px;
           height: 95px;
           background:  url('../images/header.jpg') right top no-repeat;
           position: relative;}

    h1 {font-size: 0.90em;}
    h1 a {background: url('../images/h1.jpg') no-repeat;
          width: 433px;
          height: 88px;
          display: block;}
    h1 a span {position: relative;
               z-index: -1;}
    
    h1.title {font-size: 1.2em;
              color: #0671C3;}               
    
   .content h1 {font-size: 1.2em;
                color: #0671C3;}               
 
               
    a#subPage {background: url('../images/h1.jpg') no-repeat;
          width: 433px;
          height: 88px;
          display: block;}               

    #icons {float: right;
            position: absolute;
            z-index: 2;
            right: 2px;
            bottom: -60px;
            list-style-type: none;}
    
    #icons li {float: left;}
    
    #icons a.ico {display: block;
                  width: 37px;
                  height: 42px;}
                  
    #icons a.ico span {font-size: 0.4em;
                       position: relative;
                       z-index: -1;}
                       
    #icons a.facebook {background: url('../images/ico-fb.png') no-repeat;}
    #icons a.youtube {background: url('../images/ico-youtube.png') no-repeat;}
    #icons a.twitter {background: url('../images/ico-twit.png') no-repeat;}
    #icons a.rss {background: url('../images/ico-rss.png') no-repeat;
                  margin-right: 10px;}


    #googleSearch {position: absolute;
                   top: 38px;
                   left: 441px;}
    
    #googleSearch input.btn {border: 1px solid #7E9DB9;
                             height: 22px;
                             width: 65px;
                             padding-bottom: 2px;}

#container {width: 1150px;
            margin: 0px auto;
            background-color: #ffffff;
            padding-top: 10px;}




#banner {float: right;
             margin-top: 2px;}
             
    #inFooter {width: 1080px;
               margin: 0px auto;
               text-align: left;
               color: #016fc4;}

    #inFooter div.contact {width: 208px;
                           float: left;}
    
    #inFooter div.about {width: 161px;
                         float: left;}
    
    #inFooter h2 {font-size: 1.10em;
                  font-weight: normal;
                  margin-bottom: 10px;}
    
    #inFooter p {font-size: 0.75em;}
    
    #inFooter p.copyright {padding: 10px 0px 20px 0px;
                           /*float: left;*/}
    
    #inFooter p.right {float: left;
                       width: 410px;
                       margin: 20px 0px 0px 0px;}
    
    #inFooter a {color: #016fc4;}
    
    #inFooter a:hover {text-decoration: none;}
    
    #inFooter ul {list-style-type: none;}
    
    #inFooter ul li {font-size: 0.75em;
                     margin: 0px 0px 6px 0px;}

#logo /* Wrapping link for logo */ {
  float: left; /* LTR */
  margin: 0;
  padding: 0;
}

#logo img {
  vertical-align: bottom;
}

#name-and-slogan /* Wrapper for website name and slogan */ {
  float: left;
}

h1#site-name,
div#site-name /* The name of the website */ {
  margin: 0;
  font-size: 2em;
  line-height: 1.5em;
}

#site-name a:link,
#site-name a:visited {
  color: #000;
  text-decoration: none;
}

#site-name a:hover,
#site-name a:focus {
  text-decoration: underline;
}

#site-slogan /* The slogan (or tagline) of a website */ {
}

.region-header /* Wrapper for any blocks placed in the header region */ {
  /*clear: both;*/ /* Clear the logo */
}

/*
 * Main (container for everything else)
 */
#main-wrapper {
}

#main {
  min-height: 400px;
}

/*
 * Content
 */

#content {
}

#content .section {
	width: 1110px;
	margin: 0px auto;
}

#container div.box {width: 1110px;}

                      
#container .inBox {margin: 10px 0px 20px 15px;
                  -webkit-border-radius: 8px;
                  -moz-border-radius: 8px;
                  border-radius: 8px;
                  behavior: url('PIE.htc');
                  width: 1110px;
                }

#container .inBox.blue {border: 1px solid #6cbae1;
                     background: url('../images/box-blue-repeater.png') repeat-x;}

.region-highlighted {
}

.breadcrumb /* The path to the current page in the form of a list of links */ {
  padding-bottom: 0; /* Undo system.css */
  margin-left: 20px;
  font-size: 0.8em;
}
.breadcrumb a {color: #DE1316;}

h1.title, /* The title of the page */
h2.node-title, /* Title of a piece of content when it is given in a list of content */
h2.block-title, /* Block title */
h2.title, /* Comment section heading */
h2.comment-form, /* Comment form heading */
h3.title /* Comment title */ {
  margin: 0;
}

h1.title {
  padding-top:.5em;
}

tr.even /* Some tables have rows marked even or odd. */ {
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

tr.odd {
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

div.messages /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */ {
  margin: 1.5em 0; /* Drupal core uses "6px 0" margin */
}

div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

div.status /* Normal priority messages */ {
}

div.warning,
tr.warning /* Medium priority messages */ {
  /* border: 1px solid #f0c020; */ /* Drupal core uses: 1px solid #f0c020 */
}

div.error,
tr.error /* High priority messages. See also the .error declaration below. */ {
}

.error /* Errors that are separate from div.messages status messages. */ {
  /* color: #e55; */ /* Drupal core uses a #e55 background */
}

.warning /* Warnings that are separate from div.messages status messages. */ {
  /* color: #e09010; */ /* Drupal core uses a #e09010 background */
}

div.tabs /* See also the tabs.css file. */ {
}

.region-help /* Help text on a page */ {
}

.more-help-link /* Link to more help */ {
}

.region-content /* Wrapper for the actual page content */ {
}

ul.links /* List of links */ {
}

ul.links.inline {
  display: block; /* Let the links be inline, but the container be a block. */
}

ul.links li {
  padding: 0 1em 0 0; /* LTR */
}

.item-list .pager /* A list of page numbers when more than 1 page of content is available */ {
  padding: 0;
}

.item-list .pager li /* Each page number in the pager list */ {
  padding: 0 0.5em;
}

.feed-icon /* The link to the RSS or Atom feed for the current list of content */ {
}

.more-link /* Aggregator, blog, and forum more link */ {
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */
.region-sidebar-first {
}

.region-sidebar-first .section {
}

/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */
.region-sidebar-second {
}

.region-sidebar-second .section {
}

/*
 * Footer
 */
.region-footer {
  background-color: #C8E3F4;
  border-top: 1px solid #6ab9e2;
  padding-bottom: 10px;
}



/*
 * Page bottom
 */
.region-bottom /* Wrapper for any blocks placed in the page bottom region */ {
}

#bs-breadcrumbs {
	font-size: 0.8em;
	
}

/**
* Google search
*/
#googleSearch {
    width: 280px;
}
#googleSearch tbody {
    border:0;
}
table.gsc-search-box {
    margin-top: 0;
}

.content .article p {
	font-size: 0.9em;
	margin: 5px 0px 15px 0px;
}

.content .article p a {
	color: #E0191C;
}

.content .article h3 {
	font-size: 1.1em;
	margin: 20px 0px 5px 0px;
	}

.article-body {
	font-size: 0.9em;
	line-height: 1.4em;
	margin-bottom: 10px;
}

.article-image {
  float:left;
  padding-right: 1em;
}

.content .node {
	font-size: 0.9em;
	
}

.content .node a {
	font-size: 0.7em;
	color: #E0191C;
	padding-bottom: 10px;
}

#bs-methodology p {
	font-size: 0.9em;
}

#bs-methodology a {
	color: #E0191C;
}

#bs-methodology h2, #bs-methodology h3 {
	font-size: 0.9em;
}

